html, body{
    margin: 0; padding: 0;
    position: relative;
    overflow-x: hidden;
}

html{
    font-family: Lato, sans-serif;
    font-weight: lighter;
    color: #303030;
    -webkit-font-smoothing: antialiased;
    background: transparent;
    height: auto;
}

body{
    background: #F1F1F1;
    height: inherit;
}

#page{
    position: relative;
    background: inherit;
    height: inherit;
    z-index: 10;
    padding-top: 50px;
}

.no-scroll{
    overflow: hidden;
}