/*___MAIN___*/

*, :before, :after {
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}


/*____TAGS____*/

h1, h2, h3, h4{
    margin: 0;
}

h1, h2{
    font-weight: 300;
    color: #555;
}

h1{
    font-size: 38px;
}

h2{
    font-size: 32px;
}

h3, h4{
    font-variant: small-caps;
}

p{
    padding: 0;
    margin: 0;
}

@media screen and (max-width:750px){
    h1{
        font-size: 22px;
    }
    h2{
        font-size: 18px;
    }
}

/*___CONTENT___*/

.column{
    display: inline-block;
    max-width: 600px;
    width: 100%;
    vertical-align: top;
}

.content{
    position: relative;
    text-align: left;
    display: block;
    max-width: 600px;
    width: 100%;
    border: 1px solid rgba(60, 60, 60, .1);
}

/*___MODIFIERS___*/

.small-push{
    padding: 1em 0 0 0;
}

.hidden{
    display: none;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

.pad-16-tb{
    padding-top: 16px;
    padding-bottom: 16px;
}

.pad-16-lr{
    padding-left: 16px;
    padding-right: 16px;
}

.pad-32-tb{
    padding-top: 32px;
    padding-bottom: 32px;
}

.pad-32-lr{
    padding-left: 32px;
    padding-right: 32px;
}

.circle{
    border-radius:50%;
    -webkit-border-radius: 50%;
}


.no-select, .button{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


.button{
    height: 2.5em;
    border: 0;
    cursor:pointer;
    padding: .5em;
}

.button:hover{
    opacity: .9;
}

.round{
    border-radius:2px;
    -webkit-border-radius: 2px;
}

.list{
    padding-left: 1em;
}

.list > li{
    padding: .1em;
    max-width: 100px;
}

.list > ul{
    padding-left: 2em;
    display: inline-block;
}

.list > ul > li{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 2px;
    text-decoration: underline;
}

.list > ul > .active{
    color: #4690ee;
}

.content-bottom{
    height: 0;
    font-size: .9em;
    font-weight: bolder;
    overflow: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transition: height .25s ease;
    -moz-transition: height .25s ease;
    -o-transition: height .25s ease;
    transition: height .25s ease;
}

.json{
    padding: 0;
    list-style: none;
    text-align: left;
    margin: 0 auto;
    max-width: 200px;
}

.json > li{
    padding-left: 1em;
}


.par > p{
    font-size: 1em;
    line-height: 1.2em;
    padding: 0;
    margin: .5em 0;
}

.hmm-switch{
    position: absolute;
    text-align: center;
    right: 2px; top: 0;
}

.hmm-switch > div{
    position: absolute;
    right: 0;
}