header{
    position: fixed;
    z-index: 100;
    left: 0; right: 0;
    font-size: 1em;
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    background: #FFF;
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: default;
}

header > div{
    display: inline-block;
    position: relative;
    vertical-align: top;
    z-index: 110;
    height: inherit;
    cursor: pointer;
}

.title-wrap{
    position: absolute;
    left: 0; right: 0; top: 0;
    text-align: center;
    color: #aaa;
    font-weight: bolder;
    text-transform: lowercase;
    font-variant: small-caps;
}

#sign-label{
    float: right;
    padding: 0 .8em;
}

#page-label{
    padding: 0 .8em;
}

#page-label > label{
    cursor: inherit;
}

#icon-wrap{
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    width: 2em; height: inherit;
    background: inherit;
}

#icon-wrap > .icon{
    display: inline-block;
    position: absolute;
    top: 1.1em;
    -webkit-transition: -webkit-transform .25s ease;
    -moz-transition: -moz-transform .25s ease;
    -o-transition: -o-transform .25s ease;
    transition: transform .25s ease;
}

#icon-wrap > .icon > div{
    height: 2px; width: 16px;
    margin: 2px;
    background: #555;
    -webkit-transition: -webkit-transform .45s ease;
    -moz-transition: -moz-transform .45s ease;
    -o-transition: -o-transform .45s ease;
    transition: transform .45s ease;
}

#icon-wrap.shift > .icon{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#icon-wrap.shift > .icon > div:nth-child(1){
    -webkit-transform: rotate(34deg);
    -moz-transform: rotate(34deg);
    -o-transform: rotate(34deg);
    transform: rotate(34deg);
}

#icon-wrap.shift > .icon > div:nth-child(2){
    -webkit-transform: translate(-3px, 0px);
    -moz-transform: translate(-3px, 0px);
    -o-transform: translate(-3px, 0px);
    transform: translate(-3px, 0px);
}

#icon-wrap.shift > .icon > div:nth-child(3){
    -webkit-transform: rotate(-34deg);
    -moz-transform: rotate(-34deg);
    -o-transform: rotate(-34deg);
    transform: rotate(-34deg);
}

#menu{
    position: fixed;
    z-index: 90;
    line-height: 3em;
    top: 0; bottom: 0; left: -200px;
    padding-top: 50px;
    width: 200px;
    background: #FFF;
    pointer-events: initial;
    border-right: 1px solid rgba(0, 0, 0, .2);
    -webkit-transition: -webkit-transform .25s ease;
    -moz-transition: -moz-transform .25s ease;
    -o-transition: -o-transform .25s ease;
    transition: transform .25s ease;
}

#menu.shift{
    -webkit-transform: translate3d(200px, 0px, 0px);
    -moz-transform: translate3d(200px, 0px, 0px);
    -o-transform: translate3d(200px, 0px, 0px);
    transform: translate3d(200px, 0px, 0px);
}

#menu > ol{
    padding: 0; margin: 0;
    list-style: none;
}

#menu > ol > li{
    height: 3em;
    padding: 0 1em;
    background: inherit;
    cursor: pointer;
}

#menu > ol > li:hover{
    background: #F6F6F6;
}

#menu > ol > li.active{
    background: #F6F6F6;
}

#menu > ol > li > label{
    cursor: inherit;
}

@media screen and (max-height:450px){
    header{
        position: absolute;
    }
}